<!DOCTYPE html>
<html>
<head>
  <title>CrudDebugging</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

	<div class="user-info">
		<div class="login">
			<% if current_user %>
				<span> Hi, <%=current_user.username %> </span>
			  <%= link_to('logout', destroy_user_session_path, :method => :delete, :class=>"btn btn-info") %>

			<% else %>
				<%= link_to "login", new_session_path(:user),:class=>"glyphicon glyphicon-user" %>
			<% end %>
		</div><!-- login -->
	</div><!-- user info -->

	<%= yield %>
</div>

</body>
</html>
